<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053732">Разработчик Java/TeamLead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052670">Java-программист</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">СимбирСофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053517">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053791">java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053252">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053650">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052206">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">XCritical Software</td> 
     <td class="salary">От 150 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053724">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053283">Senior Java developer /Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IITD Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний «Экстрим»</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053438">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГКУ МО "ЦСРЗИК МО"</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053313">Java-разработчик / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MAR Solutions</td> 
     <td class="salary">От 200 000 до 260 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053346">Java Team Lead (Platform)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051352">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053637">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052780">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053910">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Дневник.ру</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053257">Java - разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053361">Senior JAVA Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053505">Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Utair Digital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052646">Java разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053732">Разработчик Java/TeamLead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052670">Java-программист</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">СимбирСофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053517">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053791">java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053252">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053650">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052206">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">XCritical Software</td> 
     <td class="salary">От 150 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053724">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053283">Senior Java developer /Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IITD Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний «Экстрим»</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053438">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГКУ МО "ЦСРЗИК МО"</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053313">Java-разработчик / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MAR Solutions</td> 
     <td class="salary">От 200 000 до 260 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053346">Java Team Lead (Platform)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051352">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053637">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052780">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053910">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Дневник.ру</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053257">Java - разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053361">Senior JAVA Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053505">Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Utair Digital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052646">Java разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052342">Разработчик Java (middle)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000046979">Java Developer (e-commerce)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000046440">Java Senior Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ньютон Технологии</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048859">Java-разработчик (middle || senior || lead)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 80 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000047585">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ТехноКад</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053347">Senior Java developer (Contact Center)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000042726">Разработчик Java/Kotlin</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053577">Разработчик Java/Kotlin</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">KazanExpress</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053271">Java Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000024555">Fullstack Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">BrandMaker</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052947">Java-разработчик (внешние проекты)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053747">Java (Groovy) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TEAM Force</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053147">Java-разработчик на проект Cбербанк Бизнес Онлайн</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053146">Senior Java Developer (AI/NLP систем)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051986">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">INFORION</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053387">Java разработчик (RPA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052390">Middle/Senior Java Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Datcroft Games</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053826">Ведущий программист Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Bobday Company</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000043199">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053328">Разработчик Android (Java)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО "СЦ ТТМ"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052732">Инженер по автоматизации тестирования (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Foodplex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048249">Старший программист серверной части/Senior server side developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Banzai.Games</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053688">Senior Java Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">ICORE-Integration</td> 
     <td class="salary">От 1 400 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053946">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053506">Senior / Middle backend developer / Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Uventex labs</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000040517">Middle/Senior Java разработчик (Back-end)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Ao1 Solution</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053478">Android (Java / Kotlin) C++ разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Navigine</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000028892">Java разработка на серверную часть соц. сети.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Vero Labs Inc.</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053330">Scala Developer (Java / C++ / С# / Python)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000003228">Android Developer (Java/Kotlin)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB TV</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053794">Sr Full Stack Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053579">Преподаватель курса «JAVA разработчик»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nordic IT School</td> 
     <td class="salary">До 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053881">Java backend разработчик (удаленно или в офисе)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SLEKI</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000050949">FullStack Java Developer (Bioinformatics / BigData / ML) лекарство от рака.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Новые Программные Системы</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051527">Системный аналитик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053435">Начальник отдела разработки интернет-проектов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052512">Fullstack разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 127 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053307">Android-разработчик (Middle/Senior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000047525">Инженер-программист Oracle / Java (Software Developer Oracle - Senior)</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051836">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gradient</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053867">Senior Automation Tester</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">T-Systems RUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053702">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053870">Android-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">KazanExpress</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053734">Data Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053406">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГК «ОБОЗ»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053915">Java developer (middle/senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LAVAL</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053360">Разработчик Hyperion Financial Management (HFM)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО «Ростелеком», Филиал ОЦО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053386">Разработчик чатбота</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KR digital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052699">Senior Scala developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Acryl Platform</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053719">Full-Stack Developer (Autobahn Platform)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049631">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ЭЛКОМ+</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000047966">Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">iGooods.ru</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053489">Требуется Android dev. для долгосрочной работы</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LeadIT</td> 
     <td class="salary">До 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000033087">Автотестировщик ПО / Software Autotester</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary">От 50 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000031337">Программист Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053713">Junior QA automation engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000043823">Android-разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">Amigoweb</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053815">Android Developer</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">Mylivn</td> 
     <td class="salary">От 60 000 до 80 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053563">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IQ Oрtiоn Software</td> 
     <td class="salary">От 170 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053917">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Real Time Technologies</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053368">Мобильный разработчик (Android)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Bitnic</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051427">Back-end разработчик (Удаленная работа)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FINCH</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053873">Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BS lab</td> 
     <td class="salary">От 1 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053400">Разработчик PHP 7, Java script</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ADV Consulting</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053475">React Native-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Ньютон Технологии</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053549">Senior Blockchain Architect</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000027502">Middle Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053424">Android разработчик (Kotlin)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПрофСофт</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000045429">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053773">PHP Ведущий разработчик / PHP Senior Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Михайлов и Партнёры</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053391">DevOps</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Credit.Club</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053763">Android разработчик (офис, Черногория)</a></td> 
     <td class="city">Будва</td> 
     <td class="companyName">Alar Studios</td> 
     <td class="salary">От 1 900 до 2 300 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053923">Стажер в digital-направления</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Росбанк</td> 
     <td class="salary">До 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000043669">Data scientist</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052749">Разработчик Oracle</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053866">PHP (Kohana, Laravel) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Toqomo</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053694">Senior DevOps Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГК «ОБОЗ»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053548">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ШТОРМ Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000047785">Преподаватель курса «Android разработка на Kotlin»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nordic IT School</td> 
     <td class="salary">До 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053253">Android developer (full-time, remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">New Tech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000050381">Аndroid-разработчик (Middle+/Senior, удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Alpaca Dev Studio</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053521">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000042872">Android Software Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AURA Devices</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053578">System Programming Expert</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Hays Russia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052753">Spring framework back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">GXB Development</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051400">Программист 1С-Битрикс / Bitrix разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Клондайк</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053561">Android Middle Developer</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">Involta</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000044154">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053674">Backend разработчика (Python / Django)</a></td> 
     <td class="city"></td> 
     <td class="companyName">РемастерГрупп</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053629">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051599">Android разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Appstockus Ltd</td> 
     <td class="salary">От 50 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000050089">Системный администратор Linux/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000024765">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RentaTeam</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053811">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Trust Wallet</td> 
     <td class="salary">От 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000043849">Middle/Senior разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Junto</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051546">Middle/Senior QA Automation</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051313">Back End Developer - Удаленная Работа</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">ExpressFromUS.com</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000044146">Программист 1С Битрикс</a></td> 
     <td class="city"></td> 
     <td class="companyName">Студия DENISOV</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051976">Инженер-программист</a></td> 
     <td class="city">Ставрополь</td> 
     <td class="companyName">Энергомера</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051780">Backend-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Legalbet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053421">Разработчики для Bolt Hiring Event</a></td> 
     <td class="city"></td> 
     <td class="companyName">GMS - Bolt Championship</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053459">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053841">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048320">Android разработчик в AR мессенджер с машинным обучением</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Chudo</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000050929">Программист ABAP</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053814">Scala Backend Developer</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">Mylivn</td> 
     <td class="salary">От 60 000 до 80 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000051664">Пентестер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Chenii</td> 
     <td class="salary">От 1 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053241">Android - разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ITM Холдинг</td> 
     <td class="salary">От 85 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053597">Системный аналитик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053869">Go Developer (Buyer Experience)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053425">Копирайтер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">JUG Ru Group</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053469">Ведущий специалист отдела внедрения и администрирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ньютон Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053808">Middle/Senior Python Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052600">Разработчик мобильных приложений React Native для iOS и Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">Vezzer.no</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048936">Middle/Senior С# Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048942">Frontend разработчик (JS, React, React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">InterPals.net</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052701">PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053416">Системный администратор Linux</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053849">Специалист по автоматизированному тестированию ПО</a></td> 
     <td class="city"></td> 
     <td class="companyName">Студворк</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053945">Тестировщик | QA</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053930">QA Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053263">React Native Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Ultimate Guitar</td> 
     <td class="salary">От 2 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000042712">Разработчик Ruby on Rails</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000048583">Девопс</a></td> 
     <td class="city"></td> 
     <td class="companyName">CloudFactory</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053614">Бэкенд-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052025">Специалист по автоматизированному тестированию ПО</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">MAG Development</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053840">React Native Developer (Remote) - Galatea</a></td> 
     <td class="city"></td> 
     <td class="companyName">Inkitt</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053402">Senior Front-End Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053027">Senior Automation QA Engineer</a></td> 
     <td class="city">Лондон</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053557">Бэкенд-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053613">Бэкенд-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000034151">Бэкенд-разработчик</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053611">Бэкенд-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053610">Бэкенд-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053612">Бэкенд-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049819">Flutter-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053695">IT Recruiter</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000046794">Backend разработчик (Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Rick.ai</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053516">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000033342">Android Developer (Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Константа</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053306">Senior QA</a></td> 
     <td class="city"></td> 
     <td class="companyName">LeanSquad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052706">Ведущий android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049088">Программист-стажёр ABAP (Волгоград)</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">Migo group</td> 
     <td class="salary">От 16 000 до 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000049843">Senior Test Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000047688">Ruby on Rails Developer (all levels)</a></td> 
     <td class="city"></td> 
     <td class="companyName">LeanSquad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053345">DevOps engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052896">Frontend разработчик (React)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052886">Senior Backend Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Uploadcare</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000053807">Разработчик PHP</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/vacancies/1000052232">Team lead web fullstack</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RUVOD</td> 
     <td class="salary">От 220 000 до 260 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>